# See https://help.github.com/articles/ignoring-files/ for more about ignoring files.

# Node
node_modules/
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# dependencies
/node_modules
/.pnp
.pnp.js

# testing
/coverage

# next.js
/.next/
/out/

# production
/build

# Environment files
.env
.env.*.local
.env.local

# local env files
.env*.local

# Firebase / debug logs
firebase-debug.log
firebase-debug.*.log

# Build / output
dist/
build/

# OS / Editor files
.DS_Store
.vscode/
.idea/

# misc
*.pem

# vercel
.vercel

# typescript
*.tsbuildinfo
next-env.d.ts
